
#page
    h3 Local Components
    p With SS, JS, text and  HTML from a local jade file.

script.
    var me           = document.currentScript.ownerDocument;
    var page         = me.querySelector('#page');
    var service2     = document.querySelector('#local');
    service2.appendChild(page.cloneNode(true));
